<section class="basic-converter-container">
  <a class="go-home-link" routerLink="/"><- Retour à l'accueil</a>
  <article class="chekboxes-for-category">
    <label>
      <input
        type="checkbox"
        [(ngModel)]="isDistanceChecked"
        (change)="onCheckboxChange('distance')"
        name="option"
      />
      <span>Distances</span>
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="isWeightChecked"
        (change)="onCheckboxChange('weight')"
        name="option"
      />
      <span>Poids</span>
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="isTemperatureChecked"
        (change)="onCheckboxChange('temperature')"
        name="option"
      />
      <span>Température</span>
    </label>
  </article>
  <article class="input-unit-selector">
    <div class="input-zone">
      <label for="input-unit"
        >Sélectionnez l'unité de la valeur d'entrée :
      </label>
      <select id="input-unit" [(ngModel)]="selectedInputUnit">
        <option [defaultSelected]="true" value="default">---</option>
        <option *ngFor="let unit of units" [value]="unit.value">
          {{ unit.name }}
        </option>
      </select>
      <label for="value">Valeur :</label>
      <input type="number" id="value" [(ngModel)]="inputValue" />
    </div>
    <div class="output-zone">
      <label for="output-unit"
        >Sélectionnez l'unité de la valeur de sortie :
      </label>
      <select id="output-unit" [(ngModel)]="selectedOutputUnit">
        <option [defaultSelected]="true" value="default">---</option>
        <option *ngFor="let unit of units" [value]="unit.value">
          {{ unit.name }}
        </option>
      </select>
    </div>
    <button (click)="convert(inputValue)">Convertir</button>
    <div *ngIf="convertedValue !== null">
      Valeur convertie : {{ convertedValue }} {{ selectedOutputUnit }}
    </div>
  </article>
</section>
