<section class="basic-converter-container">
  <a class="go-home-link" routerLink="/"><- Retour à l'accueil</a>
  <article class="checkboxes-for-category">
    <label>
      <input
        type="checkbox"
        [(ngModel)]="isDistanceChecked"
        (change)="onCheckboxChange('distance')"
        name="option"
      />
      <span>Distances</span>
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="isWeightChecked"
        (change)="onCheckboxChange('weight')"
        name="option"
      />
      <span>Poids</span>
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="isTemperatureChecked"
        (change)="onCheckboxChange('temperature')"
        name="option"
      />
      <span>Température</span>
    </label>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="isCurrencyChecked"
        (change)="onCheckboxChange('currency')"
        name="option"
      />
      <span>Devise (Monnaie)</span>
    </label>
  </article>
  <article class="input-unit-selector">
    <div class="input-zone">
      <div>
        <label for="input-unit"
          >Sélectionnez l'unité de la valeur d'entrée :
        </label>
        <select id="input-unit" [(ngModel)]="selectedInputUnit">
          <option [defaultSelected]="true" value="default">---</option>
          @for (unit of units; track unit.id) {
          <option [value]="unit.value">
            {{ unit.name }}
          </option>
          }
        </select>
      </div>
      <div class="value-zone">
        <label for="value">Valeur :</label>
        <input
          class="classic-converter-value-input"
          type="number"
          id="value"
          [(ngModel)]="inputValue"
        />
      </div>
    </div>
    <div class="output-zone">
      <label for="output-unit"
        >Sélectionnez l'unité de la valeur de sortie :
      </label>
      <select id="output-unit" [(ngModel)]="selectedOutputUnit">
        <option [defaultSelected]="true" value="default">---</option>
        @for (unit of units; track unit.id) {
        <option [value]="unit.value">
          {{ unit.name }}
        </option>
        }
      </select>
    </div>
    <button class="button-to-convert" (click)="convert(inputValue)">
      Convertir
    </button>
    @if (convertedValue !== null) {
    <p class="basic-converted-value">
      Valeur convertie : {{ convertedValue }} {{ selectedOutputUnit }}
    </p>
    }
  </article>
</section>
